body { background-color:aqua; font-family:georgia;}
h1 { color:darkblue; font-family:Comic Sans MS; font-size:60px; text-align:center; }
h4{ color:black; text-align:right; font-style:italic;  }
h3 a{color:white;}
.rataTengah{color:orange; text-align:center;}
.rataKanan{text-align:right}